#introduction {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 90rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

}

.btn{
    position: absolute;
    top: -4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;

}