#introduction {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 90rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

}

.btn{
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center ;
    margin: 1rem 0;
    padding: 0 1.5rem;
    border-radius: 2rem;
  
     

}

.btimg{
     object-fit: cover;
    height: 1rem;
    width: 1rem  ;
 
    margin: 1rem;

}

.profile{
    position: absolute;
    right: 0;
    
    z-index: -1 ;
    top: 0;
    border-radius: 2rem;
    object-fit: cover;
    ;
    height: 700px;
    width: 400px;

}
.introContent{
    height: 100vh;
    width: 100vw;
    padding:2rem;
    font-size: 3rem;
    font-weight: 700;
     display: flex;
    flex-direction: column; 
    justify-content: center; 
    gap: 20px;
    }

    .hello{
        font-size: 1.7rem;
        font-weight: 100 ;
    }

    .introname{

        color: yellow;


    }
    .introprag{
        font-size: large;
        font-weight: 300;
  
    }
html, body {
  overflow-x: hidden;
}

@media screen and (max-width: 840px) {
  #introduction {
    width: 100%;
  }

  .introContent {
    width: 100%;
  }

  .profile {
    right: -10vw;
  }
}

@media screen and (max-width: 600px) {
  #introduction {
    display: flex;
    align-items: center;
  }

  .introContent {
    width: 100%;
    z-index: 1;
  }

  .profile {
    right: -15vw;
  }
}

@media screen and (max-width: 420px) {
  .profile {
    right: -25vw;
  }
}
