.navBar{
   
    width: 100vw; 
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    max-width: 90rem;
    z-index: 3;

}
.logo{
  object-fit: fill;
    height: 6rem;
    width: 6rem;
}

.navigations{
    margin: 1rem
    cursor: pointer;
}
