.navBar{
   background:rgb(30,30,30);
    width: 100vw; 
    /* margin: 0 auto; */
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    max-width: 90rem;
    z-index: 3;

}
.logo{
  object-fit: fill;
    height: 6rem;
    width: 6rem;
}

.HomeMenu{
    margin: 1rem;
    cursor: pointer;
}
.HomeMenu:hover{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom:3px solid yellow;
    
}
.btnMenu{
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center ;
    padding: 0 1rem;
    border-radius: 2rem;
  
     

}
.btnImag{
    object-fit: cover;
    height: 1rem;
    width: 1rem  ;
    margin: 1rem;
}
