.navBar{
   background:rgb(30,30,30);
    width: 100vw; 
    /* margin: 0 auto; */
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    max-width: 90rem;
    z-index: -1;

}
.logo{
  object-fit: fill;
    height: 6rem;
    width: 6rem;
}

.HomeMenu{
    margin: 1rem;
    cursor: pointer;
}
.HomeMenu:hover{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom:3px solid yellow;
    
}
.btnMenu{
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center ;
    padding: 0 1rem;
    border-radius: 2rem;
  
     

}
.btnImag{
    object-fit: cover;
    height: 1rem;
    width: 1rem  ;
    margin: 1rem;
}
.active{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom:3px solid yellow;
}
.imMenu{
    display: none;
    object-fit: cover;
    height: 1.8rem;
    cursor: pointer;


}
.mobMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem ;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40,40,40);
    border-radius: 1rem;
    cursor: pointer;
}
.listItem{
   color: white;
   padding: 0.5rem 3rem;
   margin: 0.25rem ;
   background: rgb(30,30,30);


}


html, body {
  overflow-x: hidden;
}

@media screen and (max-width: 720px) {
  .navBar {
    width: 100%;
    left: 0;
    right: 0;
  }

  .navigations {
    display: none;
  }

  .btnMenu {
    display: none;
  }

  .imMenu {
    display: block;
  }

  .mobMenu {
    right: 1rem;
    max-width: calc(100vw - 2rem);
  }
}

@media screen and (max-width: 360px) {
  .mobMenu {
    right: 0.5rem;
  }
}
