#works{
    min-height: calc(100vh - 4rem);
    margin: 0 auto;
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    text-align: center;
    padding: 0 1rem;
}
.worksTitle{
    margin: 1rem 0;
    font-size: 3rem;


}

.workDesc{
    font-weight: 400;
    font-size: 1.1rem;
    max-width: 51rem;
    padding: 0 2rem;

}
.workImgs{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    max-width: 65rem; 
    gap: 10px;

     
}

.worksimg{
    object-fit: cover;
    height: 15rem;
    margin: 3rem;


}
.workbtn{
    padding: 0.5rem 2.5rem;
    border: none;
    background: white;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    margin: 3rem 0;
}
@media screen and (max-width:585px){
    .worksimg{
        height: 48vw;
   
    }
}